PaymentRequestExample/Service References/PaymentRequest/PaymentRequestSOAP38.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.PaymentRequest.CreatePaymentRequest.Response" elementFormDefault="qualified" targetNamespace="EPay.API.PaymentRequest.CreatePaymentRequest.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://paymentrequest.api.epay.eu/v1/PaymentRequestSOAP.svc?xsd=xsd5" namespace="EPay.API.PaymentRequest" />
  <xs:complexType name="createpaymentrequestresponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.PaymentRequest" base="q1:response">
        <xs:sequence>
          <xs:element minOccurs="0" name="paymentrequest" nillable="true" type="tns:paymentrequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="createpaymentrequestresponse" nillable="true" type="tns:createpaymentrequestresponse" />
  <xs:complexType name="paymentrequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paymentrequestid" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="paymentrequest" nillable="true" type="tns:paymentrequest" />
</xs:schema>