PaymentRequestExample/Service References/PaymentRequest/PaymentRequestSOAP45.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.PaymentRequest.Transaction.GetTransaction.Request" elementFormDefault="qualified" targetNamespace="EPay.API.PaymentRequest.Transaction.GetTransaction.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://paymentrequest.api.epay.eu/v1/PaymentRequestSOAP.svc?xsd=xsd3" namespace="EPay.API.PaymentRequest.Request" />
  <xs:complexType name="gettransactionrequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.PaymentRequest.Request" base="q1:request">
        <xs:sequence>
          <xs:element minOccurs="0" name="paymentrequest" nillable="true" type="tns:paymentrequest" />
          <xs:element minOccurs="0" name="transaction" nillable="true" type="tns:transaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="gettransactionrequest" nillable="true" type="tns:gettransactionrequest" />
  <xs:complexType name="paymentrequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="paymentrequestid" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="paymentrequest" nillable="true" type="tns:paymentrequest" />
  <xs:complexType name="transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionid" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="transaction" nillable="true" type="tns:transaction" />
</xs:schema>