PaymentRequestExample/Service References/PaymentRequest/PaymentRequest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="ePay.API.PaymentRequest" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentRequest" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IPaymentRequest_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="ePay.API.PaymentRequest" location="https://paymentrequest.api.epay.eu/v1/PaymentRequestSOAP.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpsBinding_IPaymentRequest" type="i0:IPaymentRequest">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IPaymentRequest_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createpaymentrequest">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/createpaymentrequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getpaymentrequest">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/getpaymentrequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="closepaymentrequest">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/closepaymentrequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendpaymentrequest">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/sendpaymentrequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listpaymentrequest">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/listpaymentrequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletepaymentrequest">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/deletepaymentrequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getform">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/getform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listform">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/listform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createform">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/createform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteform">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/deleteform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addtransaction">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/addtransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="gettransaction">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/gettransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listtransaction">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/listtransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getrequestresponselog">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/getrequestresponselog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listrequestresponselog">
      <soap:operation soapAction="ePay.API.PaymentRequest/IPaymentRequest/listrequestresponselog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentRequest">
    <wsdl:port name="BasicHttpsBinding_IPaymentRequest" binding="tns:BasicHttpsBinding_IPaymentRequest">
      <soap:address location="https://paymentrequest.api.epay.eu/v1/PaymentRequestSOAP.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>