PaymentRequestExample/Service References/PaymentRequest/PaymentRequestSOAP31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.PaymentRequest.Form.Input" elementFormDefault="qualified" targetNamespace="EPay.API.PaymentRequest.Form.Input" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://paymentrequest.api.epay.eu/v1/PaymentRequestSOAP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="optionlist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="option" nillable="true" type="tns:option" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="optionlist" nillable="true" type="tns:optionlist" />
  <xs:complexType name="option">
    <xs:sequence>
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="option" nillable="true" type="tns:option" />
  <xs:simpleType name="type">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="text" />
          <xs:enumeration value="checkbox" />
          <xs:enumeration value="select">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="type" nillable="true" type="tns:type" />
</xs:schema>