PaymentRequestExample/Service References/PaymentRequest/PaymentRequestSOAP11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.PaymentRequest.RequestResponseLog.GetRequestResponseLog.Request" elementFormDefault="qualified" targetNamespace="EPay.API.PaymentRequest.RequestResponseLog.GetRequestResponseLog.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://paymentrequest.api.epay.eu/v1/PaymentRequestSOAP.svc?xsd=xsd3" namespace="EPay.API.PaymentRequest.Request" />
  <xs:complexType name="getrequestresponselogrequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.PaymentRequest.Request" base="q1:request">
        <xs:sequence>
          <xs:element minOccurs="0" name="requestresponselog" nillable="true" type="tns:requestresponselog" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="getrequestresponselogrequest" nillable="true" type="tns:getrequestresponselogrequest" />
  <xs:complexType name="requestresponselog">
    <xs:sequence>
      <xs:element minOccurs="0" name="requestresponselogid" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestresponselog" nillable="true" type="tns:requestresponselog" />
</xs:schema>