PaymentRequestExample/Service References/PaymentRequest/PaymentRequestSOAP39.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.PaymentWindow" elementFormDefault="qualified" targetNamespace="EPay.API.PaymentWindow" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://paymentrequest.api.epay.eu/v1/PaymentRequestSOAP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="parameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="accepturl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amount" type="xs:int" />
      <xs:element minOccurs="0" name="callbackurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cancelurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cssurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="declinetext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="instantcapture" nillable="true" type="tns:instantcapture" />
      <xs:element minOccurs="0" name="invoice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lockpaymentcollection" nillable="true" type="tns:lockpaymentcollection" />
      <xs:element minOccurs="0" name="mailreceipt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobile" nillable="true" type="tns:mobile" />
      <xs:element minOccurs="0" name="mobilecssurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ordertext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paymentcollection" nillable="true" type="tns:paymentcollection" />
      <xs:element minOccurs="0" name="paymentrequestformid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="paymenttype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recurring" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="splitpayment" nillable="true" type="tns:splitpayment" />
      <xs:element minOccurs="0" name="subscription" nillable="true" type="tns:subscription" />
      <xs:element minOccurs="0" name="subscriptionid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="subscriptionname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subscriptiontext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="windowid" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="parameters" nillable="true" type="tns:parameters" />
  <xs:simpleType name="instantcapture">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="manual">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="automatic">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="instantcapture" nillable="true" type="tns:instantcapture" />
  <xs:simpleType name="lockpaymentcollection">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="disabled">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="enabled">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="lockpaymentcollection" nillable="true" type="tns:lockpaymentcollection" />
  <xs:simpleType name="mobile">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="disabled">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="autodetect">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="forcemobile">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="mobile" nillable="true" type="tns:mobile" />
  <xs:simpleType name="paymentcollection">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="notdefined">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="paymentcards">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="homebanking">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="invoicepayment">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="mobilepayment">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="other">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="giftcards">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="paymentcollection" nillable="true" type="tns:paymentcollection" />
  <xs:simpleType name="splitpayment">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="disabled">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="enabled">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="splitpayment" nillable="true" type="tns:splitpayment" />
  <xs:simpleType name="subscription">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="disabled">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="createsubscription">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="updatesubscription">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="subscriptionpayment">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="normalpayment">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="subscription" nillable="true" type="tns:subscription" />
</xs:schema>