PaymentRequestExample/Service References/PaymentRequest/PaymentRequestSOAP3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.PaymentRequst.RequestResponseLog.ListRequestResponseLog.Request" elementFormDefault="qualified" targetNamespace="EPay.API.PaymentRequst.RequestResponseLog.ListRequestResponseLog.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="paging">
    <xs:sequence>
      <xs:element minOccurs="0" name="exclusivestartkey" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="pagesize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="paging" nillable="true" type="tns:paging" />
</xs:schema>