PaymentRequestExample/Service References/PaymentRequest/PaymentRequestSOAP20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.PaymentRequest.Form" elementFormDefault="qualified" targetNamespace="EPay.API.PaymentRequest.Form" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://paymentrequest.api.epay.eu/v1/PaymentRequestSOAP.svc?xsd=xsd23" namespace="EPay.API.PaymentRequest.Form.Input" />
  <xs:complexType name="inputlist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="input" nillable="true" type="tns:input" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inputlist" nillable="true" type="tns:inputlist" />
  <xs:complexType name="input">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="EPay.API.PaymentRequest.Form.Input" minOccurs="0" name="optionlist" nillable="true" type="q1:optionlist" />
      <xs:element minOccurs="0" name="sortorder" nillable="true" type="xs:int" />
      <xs:element xmlns:q2="EPay.API.PaymentRequest.Form.Input" minOccurs="0" name="type" type="q2:type" />
      <xs:element minOccurs="0" name="validation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="input" nillable="true" type="tns:input" />
</xs:schema>